<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    {% if request.user.is_authenticated %}

    <p>Ви вже увійшли до аккаунта</p>
    {% else %}

    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.as_p }}
        <p><input type="submit" value="Увійти"></p>
    </form>

    <a href="{% url 'social:begin' 'google-oauth2' %}">Google</a>
    <a href="{% url 'forgot_pass' %}">Забув пароль</a>
    {% endif %}
</body>

</html>