{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/style_sing.css' %}">
</head>

{% if request.user.is_authenticated %}
<meta http-equiv="refresh" content="0; URL=/api/profile/{{ user.id }}" />
{% else %}

<div class="login-box">
    <p>Вхід</p>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="user-box">
            {{ field }}
            <label>{{field.label}}</label>
        </div>
        {% endfor %}
        <button class="login-button" type="submit" value="Увійти">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Вхід
        </button>
    </form>
    <a href="{% url 'registration' %}" class="noacc">Реєстрація</a>
    <br>

    <div class="noacc"><a href="{% url 'forgot_pass' %}" class="respaww">Забули пароль ?</a></div>

    <div class="google">
        <span>Вхід через: </span>
        <a href="{% url 'social:begin' 'google-oauth2' %}"><input type="image"
                src="{% static 'images/google_sing.png' %}" alt="Login with Google" class="google-login-button"></a>
    </div>
</div>
{% endif %}
{% endblock %}