{% extends "base.html" %}


{% block content %}

{% if request.user.is_authenticated %}
{{user}}
<p><button><a href="/api/profile/{{user.id}}">{{ user.username }}</a></button> | </button><a href="{% url 'logout' %}">Вихід</a></button>
</p>
{% else %}

<form method="post">
    {% csrf_token %}
    <!-- {{ form.non_field_errors }} -->
    {{ form.as_p }}
    <p><input type="submit" value="Увійти"></p>
</form>

<a href="{% url 'social:begin' 'google-oauth2' %}">Google</a>
{% endif %}

{% endblock %}