{% extends "base.html" %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/style_sing.css' %}">
</head>

<div class="login-box">
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="row">
            {{ field.errors }}
            {{ field }}
        </div>
        {% endfor %}
        <p style="padding-top: 15px;"><input type="submit" class="btn btn-primary" value="Відправити"></p>
    </form>
</div>

{% endblock %}