{% load i18n %}

{% block subject %}
{% blocktrans %}Зміна пароля {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Ви отримали це повідомлення для зміни пароля на {{ site_name }}.{% endblocktrans %},
якщо ви нічого не відправляли, то не відповідайте на цей лист

{% trans "Please go to the following page and choose a new password:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}
Ваш псевдонім: {{ request.user.username }}

Дякуємо що обрали саме нас!

{% blocktrans %}The {{ site_name }} команда{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}Ви отримали це повідомлення для зміни пароля на {{ site_name }}.{% endblocktrans %},
    якщо ви нічого не відправляли, то не відповідайте на цей лист</p>

<p>{% trans "Please go to the following page and choose a new password:" %}</p>
<p style="margin-bottom:100px"><a
        style="display: inline-block; padding: 10px 20px; background-color: red; color: white; text-decoration: none;"
        href="{{ protocol }}://{{ domain }}{{ url|safe }}">Змінити</a></p>
<p>Ваш псевдонім: <b>{{ user.username }}</b></p>

<p>Дякуемо що обрали саме нас!</p>

<p>{% blocktrans %}{{ site_name }} команда{% endblocktrans %}</p>
{% endblock html_body %}