{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/style_reg.css' %}">


{% if request.user.is_authenticated %}

<head>
    <meta http-equiv="refresh" content="0;URL={% url '404' %}" />
</head>
{% else %}


<div class="mains">
    <div class="form-box">
        <form method="post" class="form">
            {% csrf_token %}
            <span class="title">Реєстрація</span>
            {{ form.non_field_errors }}
            <div class="form-container">
                {{ form }}
            </div>
            <button type="submit">Зареєструватися</button>
        </form>

        <div class="google">
            <span>Вхід через: </span>
            <a href="{% url 'social:begin' 'google-oauth2' %}"><input type="image"
                    src="{% static 'images/google_sing.png' %}" alt="Login with Google" class="google-login-button"></a>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}