<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
</head>
<h1>Успіх!</h1>


{% block content %}

<div class="alert alert-info" role="alert">

    <h4 class="alert-heading">Лист підтвердження надіслано!</h4>

    <p>

        На вашу адресу електронної пошти було надіслано листа з підтвердженням. Будь ласка, перевірте свою електронну пошту та натисніть посилання підтвердження, щоб завершити реєстрацію.

        Якщо лист не надійшов, перевірте папку спам.

    </p>

</div>

{% endblock %}
</html>