{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/topus-team.css'%}">
</head>
<div class="container">
    <div class="text-center">
    <h2>Команда TOPUS-shop</h2></div>
    <div class="gallery">
        <div class="gallery-item">
            <img src="./../../media/team/Zavgor.png" alt="Фото 1" width="200">
            <div class="contact-details">
                <h4>Контактна інформація</h4>
                <p><strong></strong>Завгородній Руслан</p>
                <p><strong>NICKNAME:</strong> ZHMESHNECK</p>
                <p><strong>SKILLS:</strong> python, django, git, docker, sql</p>
                <p ><a style="color: brown;" href="/path/to/your/file.pdf" target="_blank">Resume.pdf</a></p>
                <ul class="uli">
                    <li>
                        <a class="git_hub" href="https://github.com/ZHMESHNECK">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a class="linkedin" href="https://www.linkedin.com/in/zhmeshneck/">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a class="instagram" href="https://www.instagram.com/djs.amk">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a class="google" href="mailto:ruslankeev@gmail.com">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="gallery-item">
            <img src="./../../media/team/Trush2.png" alt="Фото 2" width="200">
            <div class="contact-details">
                <h4>Контактна інформація</h4>
                <p><strong></strong>Труш Данил</p>
                <p><strong>NICKNAME:</strong> ImDeathS</p>
                <p><strong>SKILLS:</strong> HTML, css, js, photoshop, premiere</p>
                <p><a style="color: brown;" href="/path/to/your/file.pdf" target="_blank">Resume.pdf</a></p>
                <ul class="uli">
                    <li>
                        <a class="git_hub" href="https://github.com/ImDeathS">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </li>
                    <!-- <li>
                        <a class="linkedin" href="#">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li> -->
                    <li>
                        <a class="instagram" href="https://www.instagram.com/liondteach/">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a class="google" href="mailto:hiphoplands@gmail.com">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="gallery-item">
            <img src="./../../media/team/Bilenko.png" alt="Фото 3" width="200">
            <div class="contact-details">
                <h4>Контактна інформація</h4>
                <p><strong></strong>Біленко Владислав</p>
                <p><strong>NICKNAME:</strong> vladfraer1</p>
                <p><strong>SKILLS:</strong> photoshop, illustrator, affter effects</p>
                <p><a style="color: brown;" href="/path/to/your/file.pdf" target="_blank">Resume.pdf</a></p>
                <ul class="uli">
                    <li>
                        <!-- <a class="git_hub" href="#">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="fa-brands fa-github"></i>
                        </a> -->
                    </li>
                    <li>
                        <!-- <a class="linkedin" href="#">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a> -->
                    </li>
                    <li>
                        <!-- <a class="instagram" href="#">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a> -->
                    </li>
                    <li>
                        <a class="google" href="mailto:vladfraer1@gmail.com">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}