{% extends "base.html" %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
</head>

<div class="sidebar">
    <a href="#" class="sidebar-link">Избранное</a>
    <a href="#" class="sidebar-link">Покупки</a>
</div>

<!-- Персональні данні-->
<div class="user-info">
    <form id="personal_data">
        <p>Персональні данні</p>
        <div class="label-input-group">
            <label>Нікнейм:</label>
            <input type="text" name="username" value="{{ profile.user.username }}" required>
        </div>

        <div class="label-input-group">
            <label>Ім'я:</label>
            <input type="text" name="first_name" value="{{ profile.first_name }}" required>
        </div>

        <div class="label-input-group">
            <label>Прізвище:</label>
            <input type="text" name="last_name" value="{{ profile.last_name }}" required>
        </div>

        <div class="label-input-group">
            <label>По батькові:</label>
            <input type="text" name="surname" value="{{ profile.surname }}" required>
        </div>
        
        <div class="label-input-group">
            <label>Пошта:</label>
            <input type="email" name="email" value="{{ profile.user.email }}" required>
        </div>

        <div class="label-input-group">
            <label>Місто:</label>
            <input type="text" name="city" value="{{ profile.city }}">
        </div>

        <div class="label-input-group">
            <label>Адрес:</label>
            <input type="text" name="adress" value="{{ profile.address }}">
        </div>

        {% for field in form %}
        <div class="label-input-group">
            <label>{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}

        <button class="btn" type="submit">Зберегти</button>

    </form>
</div>
<!-- \ персональні данні -->
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}