{% extends "base.html" %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
</head>
<div class="profile_container">
    <div class="profile">
        <div class="imgphoto"></div>
        <div class="name_user"></div>
        <div class="parametrs_user">
            <ul>
                <li>История покупок</li>
                <li>Избранное</li>
                <li>Способы оплаты</li>
            </ul>
        </div>
    </div>
    <div class="menu_profile"></div>
</div>
<p>username: {{ data.user.username }}</p>




{% endblock %}