{% load static %}
{% load tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>

<body>


    <header class="ul">
        <div class="header-button-container">
            <a href="{% url 'home' %}" class="header-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 1024 1024"
                    stroke-width="0" fill="currentColor" stroke="currentColor" class="header-icon">
                    <path
                        d="M946.5 505L560.1 118.8l-25.9-25.9a31.5 31.5 0 0 0-44.4 0L77.5 505a63.9 63.9 0 0 0-18.8 46c.4 35.2 29.7 63.3 64.9 63.3h42.5V940h691.8V614.3h43.4c17.1 0 33.2-6.7 45.3-18.8a63.6 63.6 0 0 0 18.7-45.3c0-17-6.7-33.1-18.8-45.2zM568 868H456V664h112v204zm217.9-325.7V868H632V640c0-22.1-17.9-40-40-40H432c-22.1 0-40 17.9-40 40v228H238.1V542.3h-96l370-369.7 23.1 23.1L882 542.3h-96.1z">
                    </path>
                </svg>
            </a>


            <a href="{% url 'cart' %}" class="header-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" stroke-linejoin="round"
                    stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor"
                    class="header-icon">
                    <circle r="1" cy="21" cx="9"></circle>
                    <circle r="1" cy="21" cx="20"></circle>
                    <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                </svg>
                <p id="num_of_cart">{% show_count_cart request %}</p>
            </a>
        </div>

        <div class="header-container">
            <input type="text" name="text" class="header-input" placeholder=" Пошук ">
            <button class="header-search__btn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22">
                    <path
                        d="M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z"
                        fill="#efeff1"></path>
                </svg>
            </button>
        </div>

        <div class="header-logo-container">
            <a href="{% url 'home' %}" class="header-logo">
                <img src="{% static 'images/Octopus.png' %}" alt="Логотип">
            </a>
        </div>

        {% if request.user.is_authenticated %}
        <div class="header-header-r">
            <a href="/api/profile/{{user.id}}" class="header-shadow__btn">{{ user.username|truncatewords:10 }}</a>
            <div class="header-button-spacing"></div>
            <a href="{% url 'logout' %}" class="header-shadow__btn">Вийти</a>
        </div>
        {% else %}
        <div class="header-header-r">
            <a href="{% url 'login' %}" class="header-shadow__btn">Войти</a>
            <div class="header-button-spacing"></div>
            <a href="{% url 'registration' %}" class="header-shadow__btn">Реєстрація</a>
        </div>
        {% endif %}

    </header>
    {% block content %}
    {% endblock %}
    <script src="https://kit.fontawesome.com/74065038c5.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>