{% extends "base.html" %}

{% block content %}

<ul>
    {% for item in data %}
    {% if item.main_image %}
    <p><img src="{{ item.main_image }}" width="300 300"></p>
    {% endif %}
    <a href="{{ item.id }}">
        <p>{{ item.title }}</p>
    </a>
    <ul>Ціна: {{ item.price }}</ul>
    {% if item.discount is not 0 %}
    <ul>Знижка: {{ item.discount }}%</ul>
    <ul>Ціна зі знижкою: {{ item.price_w_dis }}</ul>
    {% endif %}

    <ul>Рейтинг {{item.rating}}</ul>

    {% endfor %}
    {% for image in data.gallery_cloth_set %}
    <p>image</p>
    {% endfor %}
</ul>
{% endblock %}