{% extends "base.html" %}
{% load static %}
{% load tags %}
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/item_view.css' %}">
    <title>{{ data.title }}</title>
</head>

<div id="snackbar">Добавлено у кошик!</div>

<div class="product-page">
    <div class="product-image">
        <p><img class="materialboxed" id="largeImg" src="{{ data.main_image }}" alt="Large image"></p>
        
        <div id="thumbs">
            <a href="{{ data.main_image }}"><img src="{{ data.main_image }}"></a>
            {% for image in images %}
            <a href="{{ image.images.url }}"><img src="{{ image.images.url }}"></a>
            {% endfor %}
        </div>
    </div>
    <div class="product-description">
        <h1>{{ data.title }}</h1>
        <div class="product-details">
            <div class="product-detail">
                <span class="left">Ціна:</span>
                <span class="right">{{ data.price|floatformat:"2g" }} грн</span>
            </div>
            <!-- discount -->
            {% if data.discount > 0 %}
            <div class="product-detail">
                <span class="left">Знижка:</span>
                <span class="right product-discount">{{ data.discount }} %</span>
            </div>
            <div class="product-detail">
                <span class="left">Ціна зі знижкою:</span>
                <span class="right">{{ data.price_w_dis|floatformat:"2g" }} грн</span>
            </div>
            {% endif %}
            <!-- \ discount -->
            <div class="product-detail">
                <span class="left">Бренд:</span>
                <span class="right">{{ data.brand }}</span>
            </div>
            <div class="product-detail">
                <span class="left">Рейтинг:</span>
                <span class="right">{% if data.rating is None %} Немає оцінок {% else %} {{ data.rating }} {% endif %}</span>
            </div>
            {% for key, value in info.items %}
            <div class="product-detail">
                <span class="left">{{ key }}:</span>
                <span class="right">{{ value }}</span>
            </div>
            {% endfor %}
            <div class="product-detail">
                <span class="left">Код:</span>
                <span class="right">{{ data.s_code }}</span>
            </div>
            <div class="product-detail">
                <span class="left">Дата створення:</span>
                <span class="right">{{ data.date_created }}</span>
            </div>
        </div>

        <div class="buy">
            <!-- збережене -->
            <!-- авторизований юзер -->
            {% if request.user.is_authenticated %}
                {% if request.user.id in data.in_liked %}
                <div class="add_to_fav">
                    <button class="button_view_page" style="color: #ff0080;" value="{{ data.id }}"><i value="{{ data.id }}"
                            id='to_fav' class="fa-solid fa-heart fa-lg"></i></button>
                </div>
                {% else %}
                <div class="add_to_fav">
                    <button class="button_view_page" style="color: #ff0080;" value="{{ data.id }}"><i value="{{ data.id }}"
                            id="to_fav" class="fa-regular fa-heart fa-lg"></i></button>
                </div>
                {% endif %}
                <!--\ авторизований юзер -->
            {% else %}
            <!-- анонім -->
                {% if data.id in request.session.favourite_products %}
                <div class="add_to_fav">
                    <button class="button_view_page" style="color: #ff0080;" value="{{ data.id }}"><i value="{{ data.id }}"
                            id='to_fav' class="fa-solid fa-heart fa-lg"></i></button>
                </div>
                {% else %}
                <div class="add_to_fav">
                    <button class="button_view_page" style="color: #ff0080;" value="{{ data.id }}"><i value="{{ data.id }}"
                            id="to_fav" class="fa-regular fa-heart fa-lg"></i></button>
                </div>
                {% endif %}
                <!--\ анонім -->
            {% endif %}
            <!--\ збережене -->
            {% if in_cart == False %}
            <div class="add_to_cart_btn">
                <button value="{{ data.id }}" class="button_view_page" id="to_cart" onclick="Toast()">Придбати</button>
            </div>
            {% else %}
            <div class="add_to_cart_btn">
                <button disabled value="{{ data.id }}" class="button_view_page" id="to_cart">У кошику!</button>
            </div>
            {% endif %}
        </div>

    </div>
</div>

<h2>Опис:</h2>
<p class="description">{{ data.description|linebreaksbr }}</p>

<!--  написати відгук -->
<div class="add-review">
    <h2>Напишіть свій відгук:</h2>
    <form method="post" id="review-form">
        {% csrf_token %}
        <div class="ralative">
            <div class="rating">
                <input value="5" name="rate" id="star5" type="radio">
                <label for="star5"></label>
                <input value="4" name="rate" id="star4" type="radio">
                <label for="star4"></label>
                <input value="3" name="rate" id="star3" type="radio">
                <label for="star3"></label>
                <input value="2" name="rate" id="star2" type="radio">
                <label for="star2"></label>
                <input value="1" name="rate" id="star1" type="radio">
                <label for="star1"></label>
            </div>
        </div>
        {% if request.user.is_authenticated and parametrs.accept is True %}
        <textarea rows="4" cols="50" name="comment" id="contactcomment">{{ parametrs.comment }}</textarea>
        <button type="submit" class="button_view_page">
            Надіслати
        </button>
        {% else %}
        <textarea rows="4" cols="50" name="comment" id="contactcomment" disabled>{{ parametrs.comment }}</textarea>
        <button disabled type="submit" class="button_view_page">
            Надіслати
        </button>
        {% endif %}
    </form>
</div>
<!-- \ написати відгук -->



<!-- Відгуки -->
<div class="reviews">
    <!-- Відгук  -->
    {% for review in relation %}
    {% with review_username=review.user.username %}
    <div class="review">
        <p>Дата: {{ review.created_at|date:"d E Y" }}</p>
        <h4>Юзер: {{ review_username }}</h4>
        <div class="rating">Оцінка: <span>{{ review.rate }}</span></div>
        <p class="review-text">Текст: {{ review.comment }}</p>

        {% if review.user.id is request.user.id %}
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" style="margin: 5px;">Видалити</button>
            <input type="hidden" name="delete_relation" value="{{review.id}}">
        </form>
        {% endif %}

        {% if request.user.is_staff %}
        <div class="answer" >
            <button class="btn btn-primary" style="margin: 5px;" value="{{ review_username }},{{ review.id }}">Відповісти</button>
            <form method="post" style="margin: 5px; display: none;" >
                {% csrf_token %}
                <textarea name="comment" id="answer_text" width="10"></textarea>
                <button class="btn btn-success" id="answer_id" name="parent" value="">Відправити</button>
            </form>
        </div>
            {% endif %}

        <!-- Відповіді на відгук -->
        {% for ans in answer %}
        {% if ans.parent_id == review.id %}
        <div class="ans-for-review">
            <p>{{ ans.user.username }} відповів {{ review_username }}</p>
            <p>{{ ans.comment }}</p>
        </div>
            {% if ans.user.id is request.user.id %}
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" style="margin: 5px;">Видалити відповідь</button>
                <input type="hidden" name="delete_relation" value="{{ans.id}}">
            </form>
            {% endif %}
            {% endif %}
        {% endfor %}
        <!-- \ Відповіді на відкуг -->
    </div>
    {% endwith %}
    {% endfor %}
    <!-- \ Відгук -->
</div>
<!-- \ Відгуки -->

<script src="{% static 'js/item_view.js' %}"></script>
{% endblock %}
