{% extends "base.html" %}
{% load static %}
{% load tags %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/style_list_cate_item.css' %}">
</head>
<!-- {{data}} -->

<div class="list-container">
    {% for item in data.results %}
    <div class="product-card">
        <a href="{{ item.id }}"><img src="{{ item.main_image }}" alt="Фото" class="product-image"></a>
        <a href="{{ item.id }}">
            <h2 class="product-title">{{ item.title }}</h2>
        </a>
        <p class="product-description">Бренд: {{ item.brand }}</p>
        {% if item.discount is not 0 %}
        <div class="discount">
            <div class="product-discount">Знижка: {{ item.discount }} %</div>
            <div class="product-original-price"><del>{{ item.price }} грн</del></div>
        </div>
        <p class="product-discounted-price">{{ item.price_w_dis }} грн</p>
        {% else %}
        <p class="product-discounted-price">{{ item.price }} грн</p>
        {% endif %}
        <div class="container_rat">
            <div class="rating">
                <div class="rating__body">
                    <div class="rating__active"></div>
                    <div class="rating__items">
                        <input type="radio" name="rating" class="rating__item" value="1">
                        <input type="radio" name="rating" class="rating__item" value="2">
                        <input type="radio" name="rating" class="rating__item" value="3">
                        <input type="radio" name="rating" class="rating__item" value="4">
                        <input type="radio" name="rating" class="rating__item" value="5">
                    </div>
                </div>
                <div hidden class="rating__value">{{ item.rating }}</div>
            </div>
        </div>
        <div class="P_otziv">Відгуків: {{ item.views }}</div>
    </div>
    {% endfor %}
</div>
    <!-- Пагінация -->
    {% if data.count_page %}
        <ul class="pagination justify-content-center">
            {% if data.previous != None %}
            <li class="page-item">
                <a href="{{ data.previous }}"><span class="page-link">&laquo;</span></a>
            </li>
            {% endif %}
            {% for p in data.list_page %}
            {% if data.page_num == p %}
            <li class="page-item active">
                <span class="page-link">
                    <span>{{ p }}</spna>
                        <span class="sr-only"></span>
                    </span>
            </li>
            {% elif p >= data.page_num|add:-2 and p <= data.page_num|add:2 %} <li class="page-item"><a class="page-link"
                    href="?page={{ p }}">{{ p }}</a></li>
                {% endif %}
                {% endfor %}

                {% if data.next != None %}
                <li class="page-item">
                    <a class="page-link" href="{{ data.next }}">&raquo;</a>
                </li>
                {% endif %}
        </ul>
    {% endif %}
    <!--\ пагінация -->
<script src="{% static 'js/list_item.js' %}"></script>
{% endblock %}