<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Карточка категории товаров</title>
    <link rel="stylesheet" href="style_sing.css">
</head>
<body>
    

    <div class="card">
        <a href="ваша_ссылка.html" class="card__content">
          <img src="https://i.pinimg.com/564x/4f/ec/fb/4fecfbf4a00e34681b32299324dce682.jpg" alt="Ваша картинка">
          <div class="card__text">Переферия</div>
        </a>
      </div>
      
      







</body>
</html>
