{% extends "base.html" %}

{% block content %}
{{ data }}
{% if request.user.is_authenticated %}
<p>{{ user.username }}</p>
{% endif %}


<p>{{ data.title }}</p>
<ul> {{ data.description | linebreaks}}</ul>
<p>Рейтинг товару: {{ data.rating }}</p>
{% if data.main_image %}
<img src="{{data.main_image}}" width="300 300">
{% endif %}

{% for image in images %}
<img src="{{image.images.url}}" width="300 300">
{% endfor %}

<p>
    <li>В обраному: {{ relation.in_liked }}</li>
</p>

<form method="post" id="relation_form">
    {% csrf_token %}
    <p>Напишіть свій відгук:</p>
    <div id="full-stars-example">
        <div class="rating-group">
            <input type="hidden" name="" id="contactparent" value="">
            <label aria-label="1 star" class="rating__label" for="rating-1"><i
                    class="rating__icon rating__icon--star fa fa-star"></i></label>
            <input class="rating__input" name="rate" id="rating-1" value="1" type="radio" {% if parametrs.rate is 1 %}
                checked {%endif%}>1
            <label aria-label="2 stars" class="rating__label" for="rating-2"><i
                    class="rating__icon rating__icon--star fa fa-star"></i></label>
            <input class="rating__input" name="rate" id="rating-2" value="2" type="radio" {% if parametrs.rate is 2 %}
                checked {%endif%}>2
            <label aria-label="3 stars" class="rating__label" for="rating-3"><i
                    class="rating__icon rating__icon--star fa fa-star"></i></label>
            <input class="rating__input" name="rate" id="rating-3" value="3" type="radio" {% if parametrs.rate is 3 %}
                checked {%endif%}>3
            <label aria-label="4 stars" class="rating__label" for="rating-4"><i
                    class="rating__icon rating__icon--star fa fa-star"></i></label>
            <input class="rating__input" name="rate" id="rating-4" value="4" type="radio" {% if parametrs.rate is 4 %}
                checked {%endif%}>4
            <label aria-label="5 stars" class="rating__label" for="rating-5"><i
                    class="rating__icon rating__icon--star fa fa-star"></i></label>
            <input class="rating__input" name="rate" id="rating-5" value="5" type="radio" {% if parametrs.rate is 5 %}
                checked {%endif%}>5
        </div>
        {% if request.user.is_authenticated and parametrs.accept is True %}
        <textarea rows="5" name="comment" id="contactcomment">{{ parametrs.comment }}</textarea>
        <button type="submit">
            Надіслати
        </button>
        {% else %}
        <textarea rows="5" name="comment" id="contactcomment" disabled>{{ parametrs.comment }}</textarea>
        <button disabled type="submit">
            Надіслати
        </button>
        {% endif %}
</form>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">
        {% if message.extra_tags == '1' %}
        {{ message|safe }}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="rate" value="{{ parametrs.rate }}">
            <input type="hidden" name="comment" value="{{ parametrs.comment }}">
            <button type="submit" name="confirm" value="True">✔</button>
            <a href="{{ requst.META.HTTP_REFERER }}">✖</a>
        </form>
        {% else %}
        {{ message|safe }}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}

<p>Коментарі</p>

{% for review in relation %}
<br>
<hr>
<p>Дата: {{ review.created_at }}</p>
<p>Юзер: {{ review.user.username }}</p>
<p>Оцінка: {{ review.rate }}</p>
<p>Текст: {{ review.comment }}</p>

{% if review.user.id is request.user.id %}
<form method="post">
    {% csrf_token %}
    <button type="submit">Видалити</button>
    <input type="hidden" name="delete_relation" value="{{review.id}}">
</form>
{% endif %}

{% if request.user.is_staff %}
<a href="#relation_form" onclick="AddReview('{{ review.user.username }}','{{ review.id }}')">Відповісти</a>
{% endif %}
{% for ans in review.relation_set.all %}
<br>
<p>{{ ans.user.username }} відповів {{ review.user.username }}</p>
<p>{{ ans.comment }}</p>
{% if ans.user.id is request.user.id %}
<form method="post">
    {% csrf_token %}
    <button type="submit">Видалити</button>
    <input type="hidden" name="delete_relation" value="{{ans.id}}">
</form>
{% endif %}
{% endfor %}
{% endfor %}


<script>
    function AddReview(name, id) {
        document.getElementById("contactparent").value = id;
        document.getElementById("contactparent").name = 'parent';
        document.getElementById("contactcomment").innerText = `${name}, `
    }
</script>
{% endblock %}