
.block-container {
    display: flex;
    padding-left: 50px;
}

#count_in_cart {
    padding: auto;
}


/* Дополнительные стили для элементов, если необходимо */
h1 {
    font-size: 18px;
    /* Пример размера заголовков h1 */
}

p {
    font-size: 18px;
    /* Пример размера абзацев */
}


label {
    font-size: 18px;
}

select {
    font-size: 18px;
}

input {
    font-size: 18px;
    padding: 10px 0px 10px 0px;

}

.option {
    max-width: 500px;
}

.messages {
    list-style: none;
    padding: 0;
}

.messages li {
    /*  стили для элементов сообщений */

    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#elivator,
#floor {
    border-radius: 5px;

}

.option {
    display: none;
}

.option2 {
    display: none;
}

.option3 {
    display: none;
}

.option4 {
    display: none;
}

.option2 input[type="text"],
.option3 input[type="text"],
.option4 input[type="text"],
.option2 input[type="number"] {
    margin: 10px 5px 10px 5px;
    border-radius: 5px;
}


/* Стили для информации о корзине */
.product p {
    margin: 10px 0;
}

.product img {
    max-width: 100px;
    max-height: 100px;
}

.forma {
    padding: 15px 0px 15px 0px;
}


/* Стили для кнопок */
form button {
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.delivery-contact {
    max-width: 800px;
    margin-left: 20px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;

}




#personal_data {

    max-width: 790px;

    padding: 20px;

}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-right: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    flex-basis: 48%;
    padding: 0px 10px 0px 10px;

}

.input-group label {
    font-size: 1.2rem;
    color: rgb(50, 50, 80);
}

.input-group input[type="text"],
.input-group input[type="tel"],
.input-group input[type="email"] {
    padding: 10px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
    font-size: 1rem;
}




#personal_data button {
    padding: 10px 20px;
    background-color: rgb(55, 45, 190);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#personal_data button:disabled {
    background-color: rgb(200, 200, 200);
    color: rgb(170, 170, 170);
    cursor: not-allowed;
}


/* Стили для раздела "Доставка" */



.delivery-block {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    padding: 20px;


}

.delivery-block p {
    font-size: 1.2rem;
    color: rgb(50, 50, 80);

}

/* Стили для пунктов Самовивоз и т д */
.option {
    margin-top: 10px;
    padding: 5px;

    border-radius: 5px;
}

.option label {
    display: block;
}

.option select {
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
}

/* Стили для раздела "Оплата" */
.pay-block {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.pay-block p {
    font-size: 1.2rem;
    color: rgb(50, 50, 80);
}

.how_to_pay {
    margin-top: 10px;
}

.how_to_pay label {
    display: block;
    margin-bottom: 5px;
}

.how_to_pay button {
    padding: 10px 20px;
    background-color: rgb(55, 45, 190);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.how_to_pay button:disabled {
    background-color: rgb(200, 200, 200);
    color: rgb(170, 170, 170);
    cursor: not-allowed;
}

/* Стили для кнопки "Замовлення підтверджую" */
#order button {
    padding: 10px 20px;
    background-color: rgb(55, 45, 190);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#order button:disabled {
    background-color: rgb(200, 200, 200);
    color: rgb(170, 170, 170);
    cursor: not-allowed;
}