
.order-block {
  display: block;
  max-width: 1250px;
  min-width: 850px;
  /* height: 400px; */
  border: 1px solid #000;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(227, 226, 223);
  margin: 20px 0px;
}

.top-left {
  float: left;
  width: 25%;
  min-width: 270px;
}

/*statusZAKAZA*/

.Status1{
  
  color:rgb(90, 29, 148)
}
.zborka{
  color: rgb(167, 110, 70);
}

.vidpavleno{
  color: rgb(211 167 0);
}
.GOTOV{
    color: rgb(19, 121, 33)
}
.OTMENA{
  color: rgb(213, 7, 7);
}


/*statusZAKAZA*/

.custom-hr {
  border: 1px solid #000;
}

.center {
  text-align: center;
  margin-top: 30px;
  min-width: 250px;
  /* display: flex; */
  /* align-items: center; */
}

.left-column p {
  margin-right: 2%;
}

.center img {
  display: block;
  margin-right: 10px;
}

.bottom {
  clear: both;
}
.nomer{
font-size: 15px;
color: rgb(124, 84, 161);
}
.nomerINFO{

color: rgb(169, 126, 209);
}
.Status1{
  font-weight: 900;
  
}
.topL{
  margin-left: 15px;
}


.left-column {
  display: flex;
  align-items: center;
  min-width: 400px;
}

.image-title {
  display: flex;
  align-items: center;
  min-width: 270px;
  max-width: 400px;
}

.image-title img {
  margin-right: 10px;
}

.info {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  margin-left: auto;
  min-width: 300px;
}

.top-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  /* min-width: 300px; */
}

.top-row p {
  margin-right: 2%;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
}


.topPrise{margin-left: 10%;}

.botPrise{margin-left: 10%;}



.topHow{margin-left: 10%;}

.botHow{margin-left: 10%;}


.topSum{
  margin-left: 10%;
}

.botSum{
  margin-left: 10%;
}

.right-column {
  display: flex;
  flex-direction: column;
}

.info-pair {
  display: flex;
  justify-content: space-between;
}

.info-title {
  flex: 1;
}

.pre {
    font-family: 'Comfortaa', sans-serif;
}

.title {
    font-size: 30px;
    background-color: #662d91;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}







