html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.mains {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    /* padding: 40px; */
    margin: 20px auto;
    transform: translate(-50%, -55%);
    /* background: rgba(0, 0, 0, .9); */
    box-sizing: border-box;
    /* box-shadow: 0 15px 25px rgba(0, 0, 0, .6); */
    /* border-radius: 10px; */
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ffffff, #000000);
    background-repeat: no-repeat;
    background-size: cover;
}




.form-box {
    max-width: 300px;
    background: #252426;
    overflow: hidden;
    border-radius: 16px;
    color: #fff;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
}

/*Form text*/
.title {
    font-weight: bold;
    font-size: 1.6rem;
    color: white;
}


.subtitle {
    font-size: 1rem;
    color: white;
}

.login-link {
    color: red;
    text-decoration: none;
}









/*Inputs box*/
.form-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #252426;
    margin: 1rem 0 .5rem;
    width: 100%;
}

.input {
    background: white;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: .9rem;
    padding: 8px 15px;
}

.form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #252426;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.form-section a {
    font-weight: bold;
    color: #662D91;
    transition: color .3s ease;
    text-decoration: none;
}

.form-section a:hover {
    color: #662D91;
    text-decoration: underline;

}

/*Button*/
.form button {
    background-color: #662D91;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
}

.form button:hover {
    background-color: #421c5e;
}

.ul {
    list-style: none;
    padding: 10px;
    margin: 0px;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header-r {
    display: flex;
    margin-left: 100px;
}

.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 11px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    background: rgb(102, 45, 145);
    box-shadow: 0 0 25px rgb(102, 45, 145);
    text-decoration: none;
}

.button-spacing {
    width: 10px;
}

.shadow__btn:hover {
    box-shadow: 0 0 5px rgb(162, 56, 242),
        0 0 25px rgb(162, 56, 242),
        0 0 50px rgb(162, 56, 242),
        0 0 100px rgb(162, 56, 242);
    cursor: pointer;
}


.button-container {
    display: flex;
    background-color: rgba(102, 45, 145);
    width: 250px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
        rgba(49, 98, 232, 0.2) 5px 10px 15px;
}

.button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.button:hover {
    transform: translateY(-3px);
}

.icon {
    font-size: 20px;
}


.google {
    color: #ffffff;
}

.noacc,
.respaww,
.google,
.gogbnt {
    margin: 10px 0;
}

.noacc,
.respaww,
.google {
    margin-bottom: 15px;
}

.login-box a.a2 {
    color: #fff;
    text-decoration: none;
}

.login-box a.a2:hover {
    background: transparent;
    color: #aaa;
    border-radius: 5px;
}

/* asd */
.login-box .user-box input:active {
    background: transparent;
}

.ul {
    list-style: none;
    padding: 10px;
    margin: 0px;
}




.gogbnt {
    text-decoration: none;
    color: chartreuse;
}

.noacc {

    text-decoration: none;
    color: #fff;
}

.respaww {
    text-decoration: none;
    color: #fff;
}

.respaww:hover {
    cursor: pointer;
    color: brown;
}

.noacc:hover {
    color: brown;
}


.errorlist {
    color: white;
}


/* GGGGOOOOOGGGGLEEE*/


.google {
    display: flex;
    align-items: center;
}

.google span {
    margin-right: 10px;
    margin-left: 24px;
}

.google-login-button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background: url('link_to_google_icon.png') center/cover no-repeat;
    transition: transform 0.2s ease-in-out;
}


.google-login-button:hover {
    transform: scale(1.1);
}